!/spec/fixtures/site.pp
!/spec/hieradata/default.yaml
*.deb
*.lock
*.rpm
*.tar.gz
.*.sw?
.bundle
.ruby-version
.vagrant
.vendor
.yardoc
/.rspec_system
/Gemfile.lock
/junit
/spec/rp_env
/vendor
dist
log
pkg/
spec/fixtures/manifests
spec/fixtures/modules
spec/logs
spec/reports/
